{
  "env": {
    "default": {
      "db": "http://127.0.0.1:5984/gamecollector"
    },
    "cloudant": {
      "db": "http://thebfatchakstrarneversee:cpNpAdbyBYqhj5lf8vy8AJrc@dcampo.cloudant.com/gamecollector"
    }
  }
}
